.nav-center{

    display: flex; 
     margin:auto;

    justify-content: space-between; 
    align-items: center;  
    max-width: 625px;
}

.nav-links{
    list-style: none;
    display: flex;
    
}

li{
     margin: 30px; 

}

.container{
    min-width: 300px;
    top: 45%;
    left:30%;
    right:30%;
    text-align: center;
    position: absolute;
    background-color: black; 
    color: white;
    box-sizing: border-box;   border-radius: 0.5rem;
}

.btn{
    position: absolute;
    text-align: center;
    color: black;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: transparent;
    width:100px ;
    height: 40px;
    margin-top: 30px;
}